@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Magilio";
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: "Sansita";
  }

  h6,
  p,
  summary {
    font-family: "Gabarito";
  }

  h1 {
    @apply text-largeMobile md:text-largeDesk;
  }
  h2 {
    @apply text-mediumLargeMobile font-bold md:text-mediumLargeDesk;
  }
  h3 {
    @apply text-mediumMobile font-extrabold  md:text-mediumDesk;
  }
  h4 {
    @apply text-smallMediumMobile md:text-smallMediumDesk;
  }
  h5 {
    @apply text-smallMobile md:text-smallDesk;
  }
  h6,
  summary {
    @apply text-baseMobile md:text-baseDesk;
  }
  p {
    @apply text-bodyMobile md:text-bodyDesk;
    line-height: 22.7px;
  }
}

@media (min-width: 769px) {
  /* General classnames */
  .pc-only {
    display: block;
  }

  .pc-hide {
    display: none;
  }
}
