---
import Button from '../components/Button.astro';
import AbonnerLayout from "../layouts/AbonnerLayout.astro";
---

<AbonnerLayout title="Tak for din bestilling!">
    <article class="px-sm flex flex-col max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto">
        <h1></h1>
    </article>
    <Button variant="secondary" size="medium" href="/steptwo">
        <a href="/ompakken">Læs mere om pakken</a>
    </Button>
    <Button variant="primary" size="large" href="/stepthree">
        <a href="#">Min profil</a>
    </Button>
</AbonnerLayout>