---
import Button from '../components/Button.astro';
import AbonnerLayout from "../layouts/AbonnerLayout.astro";
---

<AbonnerLayout title="Tak for din bestilling!">
    <article class="px-sm flex flex-col max-w-lg md:max-w-2xl lg:max-w-6xl mx-auto">
        <h1 class="mt-xl">Tak for din bestilling!</h1>
        <h3>Din krop og dit behov  ændrer sig, så selvfølgelig skal dit abonnement også kunne det!</h3>
        <h4>Log ind på din profil og se dit abonnement</h4>
        <section class="flex flex-col items-center md:items-end justify-between md:flex-row gap-xs mt-m">
            <Button class="" variant="secondary" size="medium" href="/ompakken">
                Læs mere om pakken
            </Button>
            <Button variant="primary" size="large" href="#">
                Min profil
            </Button>
        </section>
    </article>
  
</AbonnerLayout>