---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import cirkelFotos from "../assets/images/om-os/portræt-runde.webp";
import omOsPhoto1 from "../assets/images/om-os/SelmaLaura.webp";
import omOsPhoto2 from "../assets/images/om-os/IdaSelma.webp";
import haandMedBind from "../assets/images/om-os/haand-m-bind.webp";
---

<MainLayout title="Om os">
  <article class="px-sm md:px-[0px]">
    <section class="pt-lg grid grid-cols-1 md:grid-cols-2 max-w-screen-xl mx-auto"><div class="flex flex-col"><h1 class="text-red-700">Bag om<br>Period.</h1><h4>Fra en eksamensopgave til en pakke købt over hele Danmark - Her er stifterne Laura, Ida og Selma</h4></div><Image src={cirkelFotos} alt="tre portræt billeder"></Image></section>
    <section class="pt-lg grid grid-cols-1 md:grid-cols-3 max-w-screen-xl mx-auto"><Image class="p-xs" src={omOsPhoto1} alt="Et billede af to piger der smiler og spiser pizza"></Image><div class="flex flex-col gap-xs"><h2 class="text-red-700">Fra idé til abonnement</h2><p>I 2024 havde vi en idé til vores eksamensprojekt: et månedligt abonnement på menstruationsprodukter.
        </p>
        <p>Det hele startede som en brainstorm. Der tænkte vi på, hvordan vi kunne gøre det lettere for menstruerende personer, der ofte må løbe rundt i smerte og købe produkter, når de pludselig manglede dem. </p>
        <p>Hvor meget tid og energi kunne man ikke lige spare, hvis alt man skulle bruge, stod klar på dørtrinet hver månede?</p><p> Vi indså, at vi havde ramt noget, som virkelig kunne gøre en forskel i hverdagen for mange, og i dag bestilles kassen over hele Danmark.</p></div><Image class="p-xs" src={omOsPhoto2} alt="Et billede af to piger der smiler"></Image></section>
      <h3 class="text-center">Hold dig opdateret!</h3></article>
        <section class="grid grid-cols-1 md:grid-cols-2 items-center"> <Image class="order-last md:-order-1" src={haandMedBind} alt="Et billede af et par hænder der holder et menstruations bind"></Image> <section class="px-sm md:px-[0px]"><div class="max-w-lg h-min bg-blue-100 rounded-border_radius-md flex flex-col p-sm shadow-dropblue"><h6>Vil du være med i familien?</h6><h5 class="pt-xxs">Tilmeld dig vores nyhedsbrev, og bliv opdateret på Period.</h5> <form class="pt-m">
            <input class="bg-blue-400 p-xs rounded-border_radius-md w-full border-none hover:bg-blue-400 enabled:border-red-400 text-blue-950 placeholder:text-blue-950" type="email" placeholder="Din e-mail" required="" />
          </form>
<div class="place-self-end pt-xxs"><Button variant="primary" size="small">Tilmeld</Button></div>
        </div></section></section>
    </MainLayout>