---
const {variant="primary", size="medium"} = Astro.props;

const buttonStyling = " border-blue-900 rounded-border_radius-3xl tracking-wide font-semibold transition ease-in-out delay-100"; 

const variantClasses = {
    "textlink": "underline",

"primary": " border-red-500 bg-red-50 text-red-500 hover:border-blue-500 hover:bg-blue-400",

"secondary": "border-blue-700 bg-blue-50 text-blue-500 hover:text-gray-200 hover:border-blue-900 hover:bg-blue-800",

};

const sizeClasses = {

"large": "text-mediumDesk py-s px-lg",

"medium": "text-smallMediumDesk py-xs px-lg",

"small": "text-smallDesk py-[14px] px-m",

};
---
<div>
    <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>
